html{
	scroll-behavior: smooth;
}

body{
	background-color: #000;

}
li{
	list-style: none;
}

.section__title{
	font-size: 4.5vh;
	font-family: 'Righteous', cursive;
 	text-transform: uppercase;
	color: #f10;
	text-shadow: 2px 2px 2px #000;
	text-align: center;
	letter-spacing: 3px;
	margin: 30px 0;
}
.container{
	display: grid;
	grid-template-rows:
	15vh 
	[header] 
	25vh
	repeat(11, 25vh) 
	[footer]
	10vh; 
	grid-template-columns: 10vw repeat(3, 30vw);
	grid-row-gap: 10px;
}

header{
	grid-column: 1/ span 4;
	grid-row: 1/ span 1;
}

.header__contain{
	position: fixed;
	width: 100vw;
	height: 15vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border-radius: 10px;
	border-bottom: 3px solid #333;
}


.logo-title{
	color: #ff1000; 
	text-shadow: 2px 2px 2px black;
	font-family: 'Staatliches', cursive;
	font-size: 100px;
	display: inline-block;
	margin: 0 10px;
	user-select: none;
}

.title__div{
	background-color: #ff1000; 
	display: inline-block; 
	color: white; 
	padding: 0 10px; 
	border-radius: 20px;
	font-family: 'Staatliches', cursive;
	font-size: 100px;
	user-select: none;
}

article{
	background-color: #dd0000; 
	grid-column: 2/span 3;
	grid-row: header/footer;
	display: grid;
	grid-template-rows: repeat(12, 25vh); 
	grid-template-columns: repeat(3, 30vw);
	grid-gap: 10px 0;
}


.article__section{
	grid-column: 1/span 3;
	background: linear-gradient(#222, #000);
	display: flex;

}

#home{
	grid-row: 1/span 3;
	flex-direction: column;
	align-items: center;
}

.home-slider{
	width: 100%;
	height: 60%;

}
.home-slider ul{
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	width: 100%;

}


.home-slider li{
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;

}


.home-slider li:nth-child(3) .home-slider-img{

}
.home-slider li:nth-child(3){
	height: 88%;
	align-self: flex-end;
}

.home-slider-img{
	height: 100%;
	object-fit: cover;
}

.img-a{
	animation: imga 13s infinite;
}

.img-b{
	animation: imgb 13s infinite;
}

.img-c{
	animation: imgc 13s infinite;
}


.home-text{
	width: 100%;
	font-size: 65px;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	color: #fff;
	align-items: center;
	text-align: center;
}

.home-text__slider{
	height: 70px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	font-family: 'Righteous', cursive;
	padding: 0 20px;
}

.home-text__contain{
	height: 70px;
	display: inline-block;
}

.home-text__container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-text__slider li{
	animation: textslider 10s infinite;
	color: #ff2000;
	list-style: none;
}

#skills{
	grid-row: 4/span 3;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.circle-img__contain{
	display: inline-block;
	height: 15vh;
	width: 15vh;
	background-color: #111;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid #444;
	margin: 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: border-width .5s, transform .5s, background .5s;
	flex-shrink: 0;
}

.circle-img{
	height: 100%;
	transition: opacity .5s;
	object-fit: cover;
	user-select: none;
}

#skills .circle-img__contain:first-child{
	background: #e04f29;
}

#skills .circle-img__contain:nth-child(2){
	background: #39d;
}

#skills .circle-img__contain:nth-child(3){
	background: #000; 
}

.circle-img__container{
	display: flex;
	width: 100%;
	height: 80%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.circle-img__text{
	color: #fff;
	font-size: 65px;
	display: inline-block;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 80px;
	background-color: #000;
	font-family: 'Righteous', cursive;
	opacity: 0;
	z-index: 500;
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
	transition: opacity .3s;
	user-select: none;
}



.circle-img__contain:hover > .circle-img{
	opacity: .1;
}

.circle-img__contain:hover > .circle-img__text{
	opacity: 1;
}

.circle-a{
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #fff;
}

.circle-a:hover > .circle-img{
	opacity: .1;
}

#projects{
	grid-row: 7/span 3;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.projects-img__container{
	height: 40%;
	width: 100%;
	text-align: center;
	margin: 20px 0px;
}

.projects-img{
	height: 100%;
	object-fit: cover;
}

#projects .circle-img__contain:nth-child(4) .circle-img{
	width: 100%; 
}
#projects .circle-img__text{
	font-size: 45px;
}

#projects .circle-img__contain:nth-child(3){
	background: #fff;
}

#projects .circle-img__contain:nth-child(3) .circle-img{
	object-fit: contain;
	height: 80%;
}

#contact{
	grid-row: 10/span 3;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#contact-icon__container{
	align-content: space-evenly;
}


.contact-icon{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.contact-icon__li{
	font-size: 11vh;
	color: #555;
	display: inline-block;
	margin: 0 30px;
	border-bottom: 10px solid transparent;
	transition: border-bottom-color .5s, color .5s, transform .3s;

}

.contact-icon:hover > .contact-icon__li{
	border-bottom-color: #ea1000;
	color: #ed3000;
	transform: translateY(-30px);
	animation: imgcontainer .5s infinite alternate;
}

.contact-icon:hover > .contact-icon__text{
	color: #ed3000;
}




.contact-icon__text{
	font-size: 45px; 
	color: transparent;
	font-family: 'Righteous', cursive;
	transition: color .5s;
}

aside{
	background-color: #000;
	grid-column: 1/span 1;
	grid-row: header/footer;
	display: flex;
	align-content: center;
	position: relative;
	z-index: 850;
}

.aside__nav-list{
	position: fixed;
	width: 10vw;
	height: 80vh;
	background-color: linear-gradient(#111, #000);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	outline: 3px solid #333;
	z-index: 900;

}

.aside__nav-list li{
	display: inline-block;
	user-select: none;

}

.aside__nav-list i{
	font-size: 8vw;
	color: #555;
	user-select: none;
	padding-bottom: 15px;
	border-bottom: 5px solid transparent;
	transition: color .3s, border-bottom-color .5s, transform .5s;

}
.aside__nav-list a{
	user-select: none;
}

.aside__nav-list i:hover{
	color: #ed3000;
	border-bottom-color: #ff1000;
	transform: translateY(-15px);
}

footer{
	border-top: 3px solid #333;
	background-color: #000;
	grid-row: footer/span 1;
	grid-column: 1/span 4;
	z-index: 1000;
}

@keyframes imga{
	0%{
		opacity: 1;
	}

	28%{
		opacity: 1;
	}

	33.3%{
		opacity: 0;
	}

	90%{
		opacity: 0;
	}

	94.6%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}

}

@keyframes imgb{
	0%{
		opacity: 0;
	}

	28%{
		opacity: 0;
	}

	33.3%{
		opacity: 1;
	}

	61.3%{
		opacity: 1;
	}

	66.6%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}

}

@keyframes imgc{
	0%{
		opacity: 0;
	}

	61.3%{
		opacity: 0;
	}

	66.6%{
		opacity: 1;
	}

	94.6%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}

}

@keyframes textslider{
	28%{
		transform: translateY(0);
	}

	33.3%{
		transform: translateY(-100%);
	}

	61.3%{
		transform: translateY(-100%);
	}

	66.6%{
		transform: translateY(-200%);
	}

	94.6%{
		transform: translateY(-200%);
	}

	100%{
		transform: translateY(-300%);
	}

}

@keyframes imgcontainer{
	from{
		border-color: transparent;
	}

	to{
		border-color: #e10;
	}

}

#projects .circle-img__contain:hover, #skills .circle-img__contain:hover{
	background: #222;
	transform: translateY(-15px);
	animation: imgcontainer .5s infinite alternate;
	border-width: 10px;
}

